<footer class="footer-section">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-logo">
          <a class="site-logo" href="index.html">
            <img src="assets/images/logo/logo-two.png" alt="logo">
          </a>
        </div>
        <ul class="footer-list">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Cookie Policy</a>
          </li>
          <li>
            <a href="#">Terms &amp; Conditions</a>
          </li>
        </ul>
        <div class="copyright-area">
          <p> Copyright © 2024 <span>Bookly</span></p>
        </div>
      </div>
    </div>
  </footer>