<!-- Jquery js -->
<script src="assets/js/jquery-3.7.1.min.js"></script>
<!-- Popper js -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Slick js -->
<script src="assets/js/slick.min.js"></script>
<!-- Magnific Popup js -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Odometer js -->
<script src="assets/js/odometer.min.js"></script>
<!-- Viewport js -->
<script src="assets/js/viewport.jquery.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>
<!-- smooth scroll js -->
<script src="assets/js/smoothscroll.min.js"></script>
<!-- apexcharts js -->
<script src="assets/js/apexcharts.min.js"></script>
<!-- lightcase js-->
<script src="assets/js/lightcase.js"></script>
<!-- wow js -->
<script src="assets/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>

</body>

</html>